.subheader-area {
  width: 100%;
  padding: 1rem;
  right: 0;
  top:0;
  height: 3rem;
  border-bottom: 1px solid gray;
  .back {
    width: 1rem;
    height: 1rem;
  }
  .sub-tit {
    margin-left: 40%;
    font-weight: bold;
  }
}
